# Reading Level Classifier

## Imports

In [371]:
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import pandas as pd
import nltk
from nltk.probability import FreqDist
from nltk.corpus import stopwords
from nltk.tokenize import regexp_tokenize, word_tokenize, RegexpTokenizer
import matplotlib.pyplot as plt
import string
import re
import numpy as np
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

In [372]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /Users/javm/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [373]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize

In [374]:
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

## Data Cleaning

### Advanced List

In [375]:
adv_list = []
advanced = '/Users/javm/Desktop/Flatiron4/Reading-Level-Classifier/Texts-SeparatedByReadingLevel/Adv-Txt'
for i in (os.listdir(advanced)):
    with open(advanced+'/'+i) as f:
        lines = f.read()
        adv_list.append(lines)
        
adv_list[0:2]

['\ufeffIt was not so much how hard people found the challenge but how far they would go to avoid it that left researchers gobsmacked. The task? To sit in a chair and do nothing but think. \nSo unbearable did some find it that they took up the safe but alarming opportunity to give themselves mild electric shocks in an attempt to break the tedium. \nTwo-thirds of men pressed a button to deliver a painful jolt during a 15-minute spell of solitude. \nUnder the same conditions, a quarter of women pressed the shock button. The difference, scientists suspect, is that men tend to be more sensation-seeking than women. \nThe report from psychologists at Virginia and Harvard Universities is one of a surprising few to tackle the question of why most of us find it so hard to do nothing.',
 '\ufeffSwedish prisons have long had a reputation around the world for being progressive. But are the country’s prisons a soft option? \nThe head of Sweden’s prison and probation service, Nils Oberg, announced in November 2013 that four Swedish prisons are to be closed due to an “out of the ordinary” decline in prisoner numbers. \nAlthough there has been no fall in crime rates, between 2011 and 2012 there was a 6% drop in Sweden’s prisoner population, now a little over 4,500. A similar decrease is expected in 2013 and 2014. Oberg admitted to being puzzled by the unexpected dip, but expressed optimism that the reason was to do with how his prisons are run. “We certainly hope that the efforts we invest in rehabilitation and preventing relapse of crime has had an impact,” he said. \n“The modern prison service in Sweden is very different from when I joined as a young prison officer in 1978,” says Kenneth Gustafsson, governor of Kumla Prison, Sweden’s most secure jail, situated 130 miles west of Stockholm. However, he doesn’t think the system has gone soft. “When I joined, the focus was very much on humanity in prisons. Prisoners were treated well – maybe too well, some might say. But, after a number of high-profile escapes in 2004, we had to rebalance and place more emphasis on security.” \nDespite the hardening of attitudes toward prison security following the escape scandals, the Swedes still managed to maintain a broadly humane approach to sentencing, even of the most serious offenders: jail terms rarely exceed ten years; those who receive life imprisonment can still apply to the courts after a decade to have the sentence commuted to a fixed term, usually in the region of 18 to 25 years. Sweden was the first country in Europe to introduce the electronic tagging of convicted criminals and continues to strive to minimize short-term prison sentences wherever possible by using community-based measures, which have been proven to be more effective at reducing reoffending.']

In [376]:
def flatten(l):
    return [item for sublist in l for item in sublist]

In [377]:
# initialize list of lists
data1 = adv_list
# Create the pandas DataFrame
adv_df = pd.DataFrame(data1, columns = ['Text'] )
# print dataframe.
adv_df['Level'] = 2
adv_df

                                                  Text  Level
0    ﻿It was not so much how hard people found the ...      2
1    ﻿Swedish prisons have long had a reputation ar...      2
2    A lonely old man living in a crater on the moo...      2
3    ﻿Facebook has lost millions of users per month...      2
4    ﻿Noise emanating from passing ships may distur...      2
..                                                 ...    ...
184  ﻿Scientists have created an “atlas of the brai...      2
185  ﻿The forests – and suburbs – of Europe are ech...      2
186  ﻿James Hamblin, senior editor of American maga...      2
187  ﻿Prince Harry has flown out of Afghanistan at ...      2
188  ﻿Tigers are more numerous in Nepal than at any...      2

[189 rows x 2 columns]

### Intermediate List

In [378]:
int_list = []
intermediate = '/Users/javm/Desktop/Flatiron4/Reading-Level-Classifier/Texts-SeparatedByReadingLevel/Int-Txt'
for i in (os.listdir(intermediate)):
    with open(intermediate+'/'+i) as f:
        lines = f.read()
        int_list.append(lines)
        
#print(int_list)

In [379]:
# initialize list of lists
data3 = int_list
# Create the pandas DataFrame
int_df = pd.DataFrame(data3, columns = ['Text'] )
# print dataframe.
int_df['Level'] = 1
int_df

                                                  Text  Level
0    Intermediate \nValdevaqueros is one of the las...      1
1    Intermediate \nThe Duchess of Cambridge gave b...      1
2    Intermediate \nCathal Redmond was swimming off...      1
3    Intermediate \nIt has mapped the worlds highes...      1
4    Intermediate \nThe customer next to you in the...      1
..                                                 ...    ...
184  Intermediate \nEver since he was diagnosed HIV...      1
185  Intermediate \nGalina Zaglumyonova was woken i...      1
186  Intermediate \nAll six numbers match, so its t...      1
187  Intermediate \nAccording to a recent report, t...      1
188  Intermediate \nWhen Larry Pizzi first heard ab...      1

[189 rows x 2 columns]

### Elementary List

In [380]:
ele_list = []
ele = '/Users/javm/Desktop/Flatiron4/Reading-Level-Classifier/Texts-SeparatedByReadingLevel/Ele-Txt'
for i in (os.listdir(ele)):
    with open(ele+'/'+i) as f:
        lines = f.read()
        ele_list.append(lines)
        
#print(ele_list)

In [381]:
# initialize list of lists
data2 = ele_list
# Create the pandas DataFrame
ele_df = pd.DataFrame(data2, columns = ['Text'] )
# print dataframe.
ele_df['Level'] = 0
ele_df

                                                  Text  Level
0    ﻿SeaWorld’s profits fell by 84% and customers ...      0
1    ﻿Imagine that you read a headline 'Fit in four...      0
2    ﻿Robert Mysłajek stops. Between two paw prints...      0
3    ﻿The Taliban sent a gunman to shoot Malala You...      0
4    ﻿Governments in Europe dream of finding a magi...      0
..                                                 ...    ...
184  ﻿Two scientists at Stanford University, in the...      0
185  ﻿Barack Obama has told young people to reject ...      0
186  ﻿When two people on a remote Pacific island sa...      0
187  ﻿Google has made maps of the world’s highest m...      0
188  ﻿Our new international survey, including 33 co...      0

[189 rows x 2 columns]

### Combining Data Frames

In [382]:
df1 = adv_df.merge(int_df, how = 'outer')
df1

                                                  Text  Level
0    ﻿It was not so much how hard people found the ...      2
1    ﻿Swedish prisons have long had a reputation ar...      2
2    A lonely old man living in a crater on the moo...      2
3    ﻿Facebook has lost millions of users per month...      2
4    ﻿Noise emanating from passing ships may distur...      2
..                                                 ...    ...
373  Intermediate \nEver since he was diagnosed HIV...      1
374  Intermediate \nGalina Zaglumyonova was woken i...      1
375  Intermediate \nAll six numbers match, so its t...      1
376  Intermediate \nAccording to a recent report, t...      1
377  Intermediate \nWhen Larry Pizzi first heard ab...      1

[378 rows x 2 columns]

In [383]:
df = df1.merge(ele_df, how = 'outer')
df

                                                  Text  Level
0    ﻿It was not so much how hard people found the ...      2
1    ﻿Swedish prisons have long had a reputation ar...      2
2    A lonely old man living in a crater on the moo...      2
3    ﻿Facebook has lost millions of users per month...      2
4    ﻿Noise emanating from passing ships may distur...      2
..                                                 ...    ...
562  ﻿Two scientists at Stanford University, in the...      0
563  ﻿Barack Obama has told young people to reject ...      0
564  ﻿When two people on a remote Pacific island sa...      0
565  ﻿Google has made maps of the world’s highest m...      0
566  ﻿Our new international survey, including 33 co...      0

[567 rows x 2 columns]

## Preprocessing

In [384]:
# need to downlod punkt to access better tokenization rules
# word_tokenize won't work without it
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/javm/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [385]:
corpus = [word_tokenize(doc) for doc in df['Text']]
print(corpus[0:4])

[['\ufeffIt', 'was', 'not', 'so', 'much', 'how', 'hard', 'people', 'found', 'the', 'challenge', 'but', 'how', 'far', 'they', 'would', 'go', 'to', 'avoid', 'it', 'that', 'left', 'researchers', 'gobsmacked', '.', 'The', 'task', '?', 'To', 'sit', 'in', 'a', 'chair', 'and', 'do', 'nothing', 'but', 'think', '.', 'So', 'unbearable', 'did', 'some', 'find', 'it', 'that', 'they', 'took', 'up', 'the', 'safe', 'but', 'alarming', 'opportunity', 'to', 'give', 'themselves', 'mild', 'electric', 'shocks', 'in', 'an', 'attempt', 'to', 'break', 'the', 'tedium', '.', 'Two-thirds', 'of', 'men', 'pressed', 'a', 'button', 'to', 'deliver', 'a', 'painful', 'jolt', 'during', 'a', '15-minute', 'spell', 'of', 'solitude', '.', 'Under', 'the', 'same', 'conditions', ',', 'a', 'quarter', 'of', 'women', 'pressed', 'the', 'shock', 'button', '.', 'The', 'difference', ',', 'scientists', 'suspect', ',', 'is', 'that', 'men', 'tend', 'to', 'be', 'more', 'sensation-seeking', 'than', 'women', '.', 'The', 'report', 'from', 'psychologists', 'at', 'Virginia', 'and', 'Harvard', 'Universities', 'is', 'one', 'of', 'a', 'surprising', 'few', 'to', 'tackle', 'the', 'question', 'of', 'why', 'most', 'of', 'us', 'find', 'it', 'so', 'hard', 'to', 'do', 'nothing', '.'], ['\ufeffSwedish', 'prisons', 'have', 'long', 'had', 'a', 'reputation', 'around', 'the', 'world', 'for', 'being', 'progressive', '.', 'But', 'are', 'the', 'country', '’', 's', 'prisons', 'a', 'soft', 'option', '?', 'The', 'head', 'of', 'Sweden', '’', 's', 'prison', 'and', 'probation', 'service', ',', 'Nils', 'Oberg', ',', 'announced', 'in', 'November', '2013', 'that', 'four', 'Swedish', 'prisons', 'are', 'to', 'be', 'closed', 'due', 'to', 'an', '“', 'out', 'of', 'the', 'ordinary', '”', 'decline', 'in', 'prisoner', 'numbers', '.', 'Although', 'there', 'has', 'been', 'no', 'fall', 'in', 'crime', 'rates', ',', 'between', '2011', 'and', '2012', 'there', 'was', 'a', '6', '%', 'drop', 'in', 'Sweden', '’', 's', 'prisoner', 'population', ',', 'now', 'a', 'little', 'over', '4,500', '.', 'A', 'similar', 'decrease', 'is', 'expected', 'in', '2013', 'and', '2014', '.', 'Oberg', 'admitted', 'to', 'being', 'puzzled', 'by', 'the', 'unexpected', 'dip', ',', 'but', 'expressed', 'optimism', 'that', 'the', 'reason', 'was', 'to', 'do', 'with', 'how', 'his', 'prisons', 'are', 'run', '.', '“', 'We', 'certainly', 'hope', 'that', 'the', 'efforts', 'we', 'invest', 'in', 'rehabilitation', 'and', 'preventing', 'relapse', 'of', 'crime', 'has', 'had', 'an', 'impact', ',', '”', 'he', 'said', '.', '“', 'The', 'modern', 'prison', 'service', 'in', 'Sweden', 'is', 'very', 'different', 'from', 'when', 'I', 'joined', 'as', 'a', 'young', 'prison', 'officer', 'in', '1978', ',', '”', 'says', 'Kenneth', 'Gustafsson', ',', 'governor', 'of', 'Kumla', 'Prison', ',', 'Sweden', '’', 's', 'most', 'secure', 'jail', ',', 'situated', '130', 'miles', 'west', 'of', 'Stockholm', '.', 'However', ',', 'he', 'doesn', '’', 't', 'think', 'the', 'system', 'has', 'gone', 'soft', '.', '“', 'When', 'I', 'joined', ',', 'the', 'focus', 'was', 'very', 'much', 'on', 'humanity', 'in', 'prisons', '.', 'Prisoners', 'were', 'treated', 'well', '–', 'maybe', 'too', 'well', ',', 'some', 'might', 'say', '.', 'But', ',', 'after', 'a', 'number', 'of', 'high-profile', 'escapes', 'in', '2004', ',', 'we', 'had', 'to', 'rebalance', 'and', 'place', 'more', 'emphasis', 'on', 'security.', '”', 'Despite', 'the', 'hardening', 'of', 'attitudes', 'toward', 'prison', 'security', 'following', 'the', 'escape', 'scandals', ',', 'the', 'Swedes', 'still', 'managed', 'to', 'maintain', 'a', 'broadly', 'humane', 'approach', 'to', 'sentencing', ',', 'even', 'of', 'the', 'most', 'serious', 'offenders', ':', 'jail', 'terms', 'rarely', 'exceed', 'ten', 'years', ';', 'those', 'who', 'receive', 'life', 'imprisonment', 'can', 'still', 'apply', 'to', 'the', 'courts', 'after', 'a', 'decade', 'to', 'have', 'the', 'sentence', 'commuted', 'to', 'a', 'fixed', 'term', ',', 'usually', 'in', 'the', 'region', 'of', '18', 'to', '25', 'years', '.', 'Sweden', 'was', 'the', 'first', 'country', 'in', 'Europe', 'to', 'introduce', 'the', 'electronic', 'tagging', 'of', 'convicted', 'criminals', 'and', 'continues', 'to', 'strive', 'to', 'minimize', 'short-term', 'prison', 'sentences', 'wherever', 'possible', 'by', 'using', 'community-based', 'measures', ',', 'which', 'have', 'been', 'proven', 'to', 'be', 'more', 'effective', 'at', 'reducing', 'reoffending', '.'], ['A', 'lonely', 'old', 'man', 'living', 'in', 'a', 'crater', 'on', 'the', 'moon', 'is', 'the', 'unlikely', 'focus', 'of', 'John', 'Lewis', '’', 's', 'Christmas', '2015', 'advert', ',', 'as', 'the', 'department', 'store', 'puts', 'a', 'charitable', 'spin', 'on', 'its', 'latest', 'multi-million', 'pound', 'campaign', '.', 'Amid', 'increasing', 'hype', 'around', 'John', 'Lewis', '’', 's', 'seasonal', 'ad', ',', 'which', 'has', 'come', 'to', 'mark', 'the', 'beginning', 'of', 'the', 'Christmas', 'shopping', 'season', 'for', 'many', ',', 'the', 'department', 'store', 'will', 'aim', 'to', 'use', 'its', 'profile', 'to', 'raise', 'hundreds', 'of', 'thousands', 'of', 'pounds', 'for', 'Age', 'UK', '.', 'It', 'will', 'also', 'encourage', 'staff', 'and', 'customers', 'to', 'join', 'up', 'with', 'their', 'local', 'branch', 'of', 'the', 'charity', 'to', 'care', 'for', 'elderly', 'people', 'who', 'might', 'otherwise', 'be', 'alone', 'over', 'the', 'holiday', '.', 'The', 'retailer', 'has', 'spent', '£7m', 'on', 'a', 'campaign', 'that', 'ranges', 'from', 'the', 'slick', 'TV', 'ad', 'to', 'a', 'smartphone', 'game', 'and', 'merchandise', ',', 'including', 'glow-in-the-', 'dark', 'pyjamas', ',', 'as', 'well', 'as', 'areas', 'decked', 'out', 'like', 'the', 'surface', 'of', 'the', 'moon', 'in', '11', 'stores', '.', 'After', 'two', 'years', 'of', 'successful', 'ads', 'featuring', 'cuddly', 'animals', '–', 'a', 'bear', 'and', 'hare', ',', 'then', 'a', 'penguin', '–', 'this', 'time', ',', 'the', 'retailer', 'is', 'tugging', 'at', 'the', 'heartstrings', 'with', 'a', 'story', 'of', 'a', 'young', 'girl', ',', 'Lily', ',', 'who', 'spots', 'an', 'old', 'man', 'living', 'in', 'a', 'shack', 'on', 'the', 'moon', 'through', 'her', 'telescope', '.', 'The', 'determined', 'child', 'tries', 'sending', 'him', 'a', 'letter', 'and', 'firing', 'a', 'note', 'via', 'bow', 'and', 'arrow', ',', 'before', 'floating', 'him', 'a', 'present', 'of', 'a', 'telescope', 'tied', 'to', 'balloons', ',', 'which', 'finally', 'enables', 'them', 'to', 'make', 'contact', '.', 'The', 'ad', '’', 's', 'strapline', 'is', ':', '“', 'Show', 'someone', 'they', '’', 're', 'loved', 'this', 'Christmas', '”', ',', 'which', 'echoes', 'Age', 'UK', '’', 's', 'own', 'campaign', ':', '“', 'No', 'one', 'should', 'have', 'no', 'one', 'at', 'Christmas', '”', '.', 'Profits', 'from', 'three', 'products', '–', 'a', 'mug', ',', 'gift', 'tag', 'and', 'card', '–', 'will', 'go', 'to', 'the', 'charity', '.'], ['\ufeffFacebook', 'has', 'lost', 'millions', 'of', 'users', 'per', 'month', 'in', 'its', 'biggest', 'markets', ',', 'independent', 'data', 'suggests', ',', 'as', 'alternative', 'social', 'networks', 'attract', 'the', 'attention', 'of', 'those', 'looking', 'for', 'fresh', 'online', 'playgrounds', '.', 'As', 'Facebook', 'prepares', 'to', 'update', 'investors', 'on', 'its', 'performance', 'in', 'the', 'first', 'three', 'months', 'of', 'the', 'year', ',', 'with', 'analysts', 'forecasting', 'revenues', 'up', '36', '%', 'on', 'last', 'year', ',', 'studies', 'suggest', 'that', 'its', 'expansion', 'in', 'the', 'US', ',', 'UK', 'and', 'other', 'major', 'European', 'countries', 'has', 'peaked', '.', 'In', 'the', 'last', 'month', ',', 'the', 'world', '’', 's', 'largest', 'social', 'network', 'has', 'lost', '6m', 'US', 'visitors', ',', 'a', '4', '%', 'fall', ',', 'according', 'to', 'analysis', 'firm', 'Socialbakers', '.', 'In', 'the', 'UK', ',', '1.4m', 'fewer', 'users', 'checked', 'in', 'in', 'March', ',', 'a', 'fall', 'of', '4.5', '%', '.', 'The', 'declines', 'are', 'sustained', '.', 'In', 'the', 'last', 'six', 'months', ',', 'Facebook', 'has', 'lost', 'nearly', '9m', 'monthly', 'visitors', 'in', 'the', 'US', 'and', '2m', 'in', 'the', 'UK', '.', 'Users', 'are', 'also', 'switching', 'off', 'in', 'Canada', ',', 'Spain', ',', 'France', ',', 'Germany', 'and', 'Japan', ',', 'where', 'Facebook', 'has', 'some', 'of', 'its', 'biggest', 'followings', '.', 'A', 'spokeswoman', 'for', 'Facebook', 'declined', 'to', 'comment', '.', '“', 'The', 'problem', 'is', 'that', ',', 'in', 'the', 'US', 'and', 'UK', ',', 'most', 'people', 'who', 'want', 'to', 'sign', 'up', 'for', 'Facebook', 'have', 'already', 'done', 'it', ',', '”', 'said', 'new', 'media', 'specialist', 'Ian', 'Maude', 'at', 'Enders', 'Analysis', '.', '“', 'There', 'is', 'a', 'boredom', 'factor', 'where', 'people', 'like', 'to', 'try', 'something', 'new', '.', 'Is', 'Facebook', 'going', 'to', 'go', 'the', 'way', 'of', 'MySpace', '?', 'The', 'risk', 'is', 'relatively', 'small', ',', 'but', 'that', 'is', 'not', 'to', 'say', 'it', 'isn', '’', 't', 'there.', '”', 'Alternative', 'social', 'networks', 'such', 'as', 'Instagram', ',', 'the', 'photo-sharing', 'site', 'that', 'won', '30m', 'users', 'in', '18', 'months', 'before', 'Facebook', 'acquired', 'the', 'business', ',', 'have', 'seen', 'surges', 'in', 'popularity', 'with', 'younger', 'age', 'groups', '.', 'Path', ',', 'the', 'mobile', 'phone-based', 'social', 'network', 'founded', 'by', 'former', 'Facebook', 'employee', 'Dave', 'Morin', ',', 'which', 'restricts', 'its', 'users', 'to', '150', 'friends', ',', 'is', 'gaining', '1m', 'users', 'a', 'week', '.', 'It', 'has', 'recently', 'topped', '9m', 'users', ',', 'with', '500,000', 'Venezuelans', 'downloading', 'the', 'app', 'in', 'a', 'single', 'weekend', '.']]

In [386]:
import itertools
flattenedcorpus_tokens = pd.Series(list(itertools.chain(*corpus)))
print(flattenedcorpus_tokens.shape)

(170398,)

In [387]:
dictionary = pd.Series(flattenedcorpus_tokens.unique())
print(len(dictionary))

12220

In [388]:
flattenedcorpus_tokens.value_counts()

,             8422
the           8003
.             6975
of            4310
to            3880
              ...
impress          1
positioned       1
marking          1
Hooft            1
papers           1
Length: 12220, dtype: int64

In [389]:
num_one_occurence = (flattenedcorpus_tokens.
                     value_counts() < 2).sum()
num_one_occurence

3405

In [390]:
dictionary[dictionary.str.isnumeric()]

125      2013
146      2011
147      2012
148         6
160      2014
         ...
12064    1989
12071    1972
12177      41
12189      73
12201    1623
Length: 200, dtype: object

### Removing Stop Words

In [391]:
# imports package with many stopword lists
from nltk.corpus import stopwords

# get common stop words in english that we'll remove during tokenization/text normalization
stop_words = stopwords.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [392]:
def first_step_normalizer(doc):
    # filters for alphabetic (no punctuation or numbers) and filters out stop words. 
    # lower cases all tokens
    norm_text = [x.lower() for x in word_tokenize(doc) if ((x.isalpha()) & (x.lower() not in stop_words)) ]
    return norm_text

In [393]:
df['tok_norm'] = df['Text'].apply(first_step_normalizer)
df.head(10)

,Text,Level,tok_norm
0,﻿It was not so much how hard people found the ...,2,"[much, hard, people, found, challenge, far, wo..."
1,﻿Swedish prisons have long had a reputation ar...,2,"[prisons, long, reputation, around, world, pro..."
2,A lonely old man living in a crater on the moo...,2,"[lonely, old, man, living, crater, moon, unlik..."
3,﻿Facebook has lost millions of users per month...,2,"[lost, millions, users, per, month, biggest, m..."
4,﻿Noise emanating from passing ships may distur...,2,"[emanating, passing, ships, may, disturb, anim..."
5,﻿They may not know who Steve Jobs was or even ...,2,"[may, know, steve, jobs, even, tie, shoelaces,..."
6,"﻿Writing in the journal Nature, former preside...",2,"[journal, nature, former, president, royal, in..."
7,﻿The Duke and Duchess of Cambridge won the fir...,2,"[duke, duchess, cambridge, first, round, battl..."
8,﻿A Canadian man who sprang to fame after offer...,2,"[canadian, man, sprang, fame, offering, free, ..."
9,﻿Serial dater Emmanuel Limal was tired of meet...,2,"[dater, emmanuel, limal, tired, meeting, women..."

In [394]:
norm_toks_flattened = pd.Series(list(
    itertools.chain(*df['tok_norm'])))
new_dictionary = norm_toks_flattened.unique()
print(len(new_dictionary))

9609

In [395]:
print(len(dictionary))

12220

In [396]:
## Removed 5k features

In [397]:
norm_toks_flattened.value_counts()

said           781
people         748
one            450
world          339
says           322
              ...
aisle            1
suits            1
signing          1
legislation      1
bricklayer       1
Length: 9609, dtype: int64

## Lemmatizing

In [398]:
from nltk import WordNetLemmatizer # lemmatizer using WordNet
from nltk.corpus import wordnet # imports WordNet
from nltk import pos_tag # nltk's native part of speech tagging

nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/javm/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /Users/javm/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [399]:
# takes in untokenized document and returns fully normalized token list
def process_doc(doc):

    #initialize lemmatizer
    wnl = WordNetLemmatizer()

    # helper function to change nltk's part of speech tagging to a wordnet format.
    def pos_tagger(nltk_tag):
        if nltk_tag.startswith('J'):
            return wordnet.ADJ
        elif nltk_tag.startswith('V'):
            return wordnet.VERB
        elif nltk_tag.startswith('N'):
            return wordnet.NOUN
        elif nltk_tag.startswith('R'):
            return wordnet.ADV
        else:         
            return None
        
    # remove stop words and punctuations, then lower case
    doc_norm = [tok.lower() for tok in word_tokenize(doc) if ((tok.isalpha()) & (tok.lower() not in stop_words)) ]
    
    #  POS detection on the result will be important in telling Wordnet's lemmatizer how to lemmatize
    
    # creates list of tuples with tokens and POS tags in wordnet format
    wordnet_tagged = list(map(lambda x: (x[0], pos_tagger(x[1])), pos_tag(doc_norm))) 
    doc_norm = [wnl.lemmatize(token, pos) for token, pos in wordnet_tagged if pos is not None]
    
    return doc_norm

In [400]:
fully_normalized_corpus = df['Text'].apply(process_doc)

In [401]:
fully_normalized_corpus.head()

0    [much, hard, people, find, challenge, far, go,...
1    [prison, long, reputation, world, progressive,...
2    [lonely, old, man, living, crater, moon, unlik...
3    [lose, million, user, month, big, market, inde...
4    [emanate, pass, ship, disturb, animal, killer,...
Name: Text, dtype: object

In [402]:
flattened_fully_norm = pd.Series(list(itertools.chain(*fully_normalized_corpus)))
len(flattened_fully_norm.unique())

7685

In [403]:
## Original dictionary length
print(len(dictionary))

12220

In [404]:
flattened_fully_norm.value_counts()

say           1224
people         759
make           415
year           394
world          362
              ...
frenzy           1
emaciated        1
gallaghers       1
romp             1
abstract         1
Length: 7685, dtype: int64

## Modeling

In [405]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

In [406]:
class TextPreprocessor(BaseEstimator, TransformerMixin):
    
    def __init__(self):
        
        #define attributes to store if text preprocessing requires fitting from data
        pass
    
    def fit(self, data, y = 0):
        # this is where you would fit things like corpus specific stopwords
        # fit probable bigrams with bigram model in here
        
        # save as parameters of Text preprocessor
        
        return self
    
    def transform(self, data, y = 0):
        fully_normalized_corpus = data.apply(self.process_doc)
        
        return fully_normalized_corpus
        
    
    def process_doc(self, doc):

        #initialize lemmatizer
        wnl = WordNetLemmatizer()
        stop_words = stopwords.words('english')
        
        # helper function to change nltk's part of speech tagging to a wordnet format.
        def pos_tagger(nltk_tag):
            if nltk_tag.startswith('J'):
                return wordnet.ADJ
            elif nltk_tag.startswith('V'):
                return wordnet.VERB
            elif nltk_tag.startswith('N'):
                return wordnet.NOUN
            elif nltk_tag.startswith('R'):
                return wordnet.ADV
            else:         
                return None


        # remove stop words and punctuations, then lower case
        doc_norm = [tok.lower() for tok in word_tokenize(doc) if ((tok.isalpha()) & (tok not in stop_words)) ]

        #  POS detection on the result will be important in telling Wordnet's lemmatizer how to lemmatize

        # creates list of tuples with tokens and POS tags in wordnet format
        wordnet_tagged = list(map(lambda x: (x[0], pos_tagger(x[1])), pos_tag(doc_norm))) 
        doc_norm = [wnl.lemmatize(token, pos) for token, pos in wordnet_tagged if pos is not None]

        return " ".join(doc_norm)

In [407]:
X = df['Text']
y = df['Level']

In [408]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

proc = TextPreprocessor()

# again this kind of splitting only becomes important if fitting of text transformers fits to statistics of the text corpus
transformed_train = proc.fit_transform(X_train)
transformed_test = proc.transform(X_test)

In [409]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [410]:
prc_steps = [('countvec', CountVectorizer(min_df =.03, max_df = .5))]
preprocess_pipeline = Pipeline(prc_steps)

In [411]:
X_tr_proc = preprocess_pipeline.fit_transform(transformed_train)

In [412]:
X_tr_proc.shape

(396, 715)

In [413]:
X_test_proc = preprocess_pipeline.transform(transformed_test)

,Text,Level,tok_norm
0,﻿It was not so much how hard people found the ...,2,"[much, hard, people, found, challenge, far, wo..."
1,﻿Swedish prisons have long had a reputation ar...,2,"[prisons, long, reputation, around, world, pro..."
2,A lonely old man living in a crater on the moo...,2,"[lonely, old, man, living, crater, moon, unlik..."
3,﻿Facebook has lost millions of users per month...,2,"[lost, millions, users, per, month, biggest, m..."
4,﻿Noise emanating from passing ships may distur...,2,"[emanating, passing, ships, may, disturb, anim..."
...,...,...,...
562,"﻿Two scientists at Stanford University, in the...",0,"[scientists, stanford, university, usa, used, ..."
563,﻿Barack Obama has told young people to reject ...,0,"[obama, told, young, people, reject, pessimism..."
564,﻿When two people on a remote Pacific island sa...,0,"[two, people, remote, pacific, island, saw, sm..."
565,﻿Google has made maps of the world’s highest m...,0,"[made, maps, world, highest, mountains, ocean,..."
566,"﻿Our new international survey, including 33 co...",0,"[new, international, survey, including, countr..."

In [414]:
feat_names = preprocess_pipeline[
    'countvec'].get_feature_names()

pd.DataFrame(X_tr_proc.toarray(), columns = feat_names)

,ability,able,access,accord,action,add,admit,adult,affect,africa,...,work,worker,world,worry,write,wrong,year,yet,york,young
0,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,4,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,0,0,0,0,0,0,2,0,2,0,...,0,0,0,0,1,0,0,0,0,0
392,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
393,0,0,0,0,0,1,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
394,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
395,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [415]:
bow_mat = pd.DataFrame(X_tr_proc.toarray(), columns = feat_names)
bow_mat['Level'] = y_train
bow_mat

,ability,able,access,accord,action,add,admit,adult,affect,africa,...,worker,world,worry,write,wrong,year,yet,york,young,Level
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,2.0
2,1,0,0,0,0,0,0,0,0,0,...,0,3,0,0,0,0,0,0,0,2.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,0,0,0,0,0,0,2,0,2,0,...,0,0,0,1,0,0,0,0,0,0.0
392,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0.0
393,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
394,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0.0
395,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0.0

In [416]:
class2_bow_mat = bow_mat[bow_mat['Level'] == 2].drop(columns = ['Level'])

# class 1 token probabilities:
N_tok_2 = class2_bow_mat.sum(axis = 0) 
N_2 =  class2_bow_mat.values.sum()

# get probabilities for each token: class 1
proba_c2 = N_tok_2/N_2

proba_c2.sort_values(ascending = False)[0:10]

make     0.011394
world    0.011179
year     0.010319
take     0.008707
food     0.007524
use      0.007417
go       0.007094
want     0.007094
many     0.006665
time     0.006557
dtype: float64

In [417]:
class1_bow_mat = bow_mat[bow_mat['Level'] == 1].drop(columns = ['Level'])

# class 1 token probabilities:
N_tok_1 = class1_bow_mat.sum(axis = 0) 
N_1 =  class1_bow_mat.values.sum()

# get probabilities for each token: class 1
proba_c1 = N_tok_1/N_1

proba_c1.sort_values(ascending = False)[0:10]

make     0.012136
year     0.010900
world    0.009664
new      0.008877
use      0.008540
get      0.008203
work     0.007866
find     0.007304
also     0.007304
big      0.007192
dtype: float64

In [418]:
class0_bow_mat = bow_mat[bow_mat['Level'] == 0].drop(columns = ['Level'])

# class 1 token probabilities:
N_tok_0 = class0_bow_mat.sum(axis = 0)
N_0 =  class0_bow_mat.values.sum() 

# get probabilities for each token: class 0
proba_c0 = N_tok_0/N_0

proba_c0.sort_values(ascending = False)[0:10]

use           0.020346
want          0.015259
new           0.013225
factory       0.012208
world         0.010173
month         0.009156
charity       0.009156
make          0.009156
restaurant    0.008138
take          0.008138
dtype: float64

### Append Multinomial Naive Bayes Classifier to pipeline.

In [419]:
from sklearn.naive_bayes import MultinomialNB

In [420]:
from copy import deepcopy
mod_pipe = deepcopy(preprocess_pipeline)
mod_pipe.steps.append(('multinb', MultinomialNB()))
mod_pipe.steps

[('countvec', CountVectorizer(max_df=0.5, min_df=0.03)),
 ('multinb', MultinomialNB())]

In [421]:
mod_pipe.fit(transformed_train, y_train)

Pipeline(steps=[('countvec', CountVectorizer(max_df=0.5, min_df=0.03)),
                ('multinb', MultinomialNB())])

In [422]:
transformed_test = proc.transform(X_test)

y_pred = mod_pipe.predict(transformed_test)

In [423]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.55      0.48      0.51        54
           1       0.42      0.53      0.47        59
           2       0.41      0.36      0.39        58

    accuracy                           0.46       171
   macro avg       0.46      0.46      0.46       171
weighted avg       0.46      0.46      0.46       171

In [424]:
from sklearn.linear_model import LogisticRegressionCV

In [425]:
LogisticRegressionCV(fit_intercept=True, cv= 5, 
                     dual=False, penalty='l2', scoring=None, 
                     solver='lbfgs', tol=0.0001, max_iter=100)

LogisticRegressionCV(cv=5)

In [426]:
import sklearn
from sklearn.datasets import load_breast_cancer
from sklearn.metrics import classification_report, confusion_matrix 
from sklearn.datasets import load_breast_cancer 
from sklearn.svm import SVC 
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

In [427]:
# defining parameter range 
param_grid = {'C': [0.1, 1, 10, 100],  
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001], 
              #'gamma':['scale', 'auto'],
              'kernel': ['linear']}  
   
grid = GridSearchCV(SVC(random_state = 42), param_grid, refit = True, verbose = 3,n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(X_tr_proc, y_train) 
 
# print best parameter after tuning 
print(grid.best_params_) 
grid_predictions = grid.predict(X_test_proc) 
   
# print classification report 
print(classification_report(y_test, grid_predictions))

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    1.5s

{'C': 1, 'gamma': 1, 'kernel': 'linear'}
              precision    recall  f1-score   support

           0       0.58      0.54      0.56        54
           1       1.00      0.97      0.98        59
           2       0.59      0.66      0.62        58

    accuracy                           0.73       171
   macro avg       0.72      0.72      0.72       171
weighted avg       0.73      0.73      0.73       171

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    2.4s finished

### TFID Vectorizer

In [428]:
prc_steps2 = [('tfid', TfidfVectorizer(min_df = 0.05, max_df = 0.95))]
preprocess_pipeline2 = Pipeline(prc_steps2)

In [429]:
X_tr_proc2 = preprocess_pipeline2.fit_transform(transformed_train)

In [430]:
X_test_proc2 = preprocess_pipeline2.transform(transformed_test)

In [431]:
# defining parameter range 
param_grid = {'C': [0.1, 1, 10, 100],  
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001], 
              #'gamma':['scale', 'auto'],
              'kernel': ['linear']}  
   
grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3,n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(X_tr_proc2, y_train) 
 
# print best parameter after tuning 
print(grid.best_params_) 
grid_predictions2 = grid.predict(X_test_proc2) 
   
# print classification report 
print(classification_report(y_test, grid_predictions2))

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.2s

{'C': 100, 'gamma': 1, 'kernel': 'linear'}
              precision    recall  f1-score   support

           0       0.56      0.65      0.60        54
           1       0.89      0.83      0.86        59
           2       0.59      0.55      0.57        58

    accuracy                           0.68       171
   macro avg       0.68      0.68      0.68       171
weighted avg       0.69      0.68      0.68       171

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.9s finished

### NB

In [432]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB
 
# GaussianNB is used in Binomial Classification
# MultinomialNB is used in multi-class classification
#clf = GaussianNB()
clf = MultinomialNB()
 
# Printing all the parameters of Naive Bayes
print(clf)
 
NB=clf.fit(X_tr_proc,y_train)
prediction=NB.predict(X_test_proc)
 
# Measuring accuracy on Testing Data
from sklearn import metrics
print(metrics.classification_report(y_test, prediction))
print(metrics.confusion_matrix(y_test, prediction))
 
# Printing the Overall Accuracy of the model
F1_Score=metrics.f1_score(y_test, prediction, average='weighted')
print('Accuracy of the model on Testing Sample Data:', round(F1_Score,2))
 
# Importing cross validation function from sklearn
from sklearn.model_selection import cross_val_score
 
# Running 10-Fold Cross validation on a given algorithm
# Passing full data X and y because the K-fold will split the data and automatically choose train/test
Accuracy_Values=cross_val_score(NB, X , y, cv=5, scoring='f1_weighted')
print('\nAccuracy values for 5-fold Cross Validation:\n',Accuracy_Values)
print('\nFinal Average Accuracy of the model:', round(Accuracy_Values.mean(),2))

MultinomialNB()
              precision    recall  f1-score   support

           0       0.55      0.48      0.51        54
           1       0.42      0.53      0.47        59
           2       0.41      0.36      0.39        58

    accuracy                           0.46       171
   macro avg       0.46      0.46      0.46       171
weighted avg       0.46      0.46      0.46       171

[[26 13 15]
 [13 31 15]
 [ 8 29 21]]
Accuracy of the model on Testing Sample Data: 0.46

Accuracy values for 5-fold Cross Validation:
 [nan nan nan nan nan]

Final Average Accuracy of the model: nan

In [433]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, ComplementNB
 
# GaussianNB is used in Binomial Classification
# MultinomialNB is used in multi-class classification
#clf = GaussianNB()
clf = ComplementNB()
 
# Printing all the parameters of Naive Bayes
print(clf)
 
NB=clf.fit(X_tr_proc2,y_train)
prediction=NB.predict(X_test_proc2)
 
# Measuring accuracy on Testing Data
from sklearn import metrics
print(metrics.classification_report(y_test, prediction))
print(metrics.confusion_matrix(y_test, prediction))
 
# Printing the Overall Accuracy of the model
F1_Score=metrics.f1_score(y_test, prediction, average='weighted')
print('Accuracy of the model on Testing Sample Data:', round(F1_Score,2))
 
# Importing cross validation function from sklearn
from sklearn.model_selection import cross_val_score
 
# Running 10-Fold Cross validation on a given algorithm
# Passing full data X and y because the K-fold will split the data and automatically choose train/test
Accuracy_Values=cross_val_score(NB, X , y, cv=5, scoring='f1_weighted')
print('\nAccuracy values for 5-fold Cross Validation:\n',Accuracy_Values)
print('\nFinal Average Accuracy of the model:', round(Accuracy_Values.mean(),2))

ComplementNB()
              precision    recall  f1-score   support

           0       0.38      0.54      0.45        54
           1       0.50      0.39      0.44        59
           2       0.35      0.29      0.32        58

    accuracy                           0.40       171
   macro avg       0.41      0.41      0.40       171
weighted avg       0.41      0.40      0.40       171

[[29  6 19]
 [23 23 13]
 [24 17 17]]
Accuracy of the model on Testing Sample Data: 0.4

Accuracy values for 5-fold Cross Validation:
 [nan nan nan nan nan]

Final Average Accuracy of the model: nan