# Reading Level Classifier

## Imports

In [4]:
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import pandas as pd
import nltk
from nltk.probability import FreqDist
from nltk.corpus import stopwords
from nltk.tokenize import regexp_tokenize, word_tokenize, RegexpTokenizer
import matplotlib.pyplot as plt
import string
import re
import numpy as np

In [5]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /Users/javm/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [6]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize

In [7]:
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

## Data Cleaning

### Advanced List

In [8]:
adv_list = []
advanced = '/Users/javm/Desktop/Flatiron4/Reading-Level-Classifier/Texts-SeparatedByReadingLevel/Adv-Txt'
for i in (os.listdir(advanced)):
    with open(advanced+'/'+i) as f:
        lines = f.readlines()
        adv_list.append(lines)
        
adv_list[0:2]

[['\ufeffIt was not so much how hard people found the challenge but how far they would go to avoid it that left researchers gobsmacked. The task? To sit in a chair and do nothing but think. \n',
  'So unbearable did some find it that they took up the safe but alarming opportunity to give themselves mild electric shocks in an attempt to break the tedium. \n',
  'Two-thirds of men pressed a button to deliver a painful jolt during a 15-minute spell of solitude. \n',
  'Under the same conditions, a quarter of women pressed the shock button. The difference, scientists suspect, is that men tend to be more sensation-seeking than women. \n',
  'The report from psychologists at Virginia and Harvard Universities is one of a surprising few to tackle the question of why most of us find it so hard to do nothing.'],
 ['\ufeffSwedish prisons have long had a reputation around the world for being progressive. But are the country’s prisons a soft option? \n',
  'The head of Sweden’s prison and probation service, Nils Oberg, announced in November 2013 that four Swedish prisons are to be closed due to an “out of the ordinary” decline in prisoner numbers. \n',
  'Although there has been no fall in crime rates, between 2011 and 2012 there was a 6% drop in Sweden’s prisoner population, now a little over 4,500. A similar decrease is expected in 2013 and 2014. Oberg admitted to being puzzled by the unexpected dip, but expressed optimism that the reason was to do with how his prisons are run. “We certainly hope that the efforts we invest in rehabilitation and preventing relapse of crime has had an impact,” he said. \n',
  '“The modern prison service in Sweden is very different from when I joined as a young prison officer in 1978,” says Kenneth Gustafsson, governor of Kumla Prison, Sweden’s most secure jail, situated 130 miles west of Stockholm. However, he doesn’t think the system has gone soft. “When I joined, the focus was very much on humanity in prisons. Prisoners were treated well – maybe too well, some might say. But, after a number of high-profile escapes in 2004, we had to rebalance and place more emphasis on security.” \n',
  'Despite the hardening of attitudes toward prison security following the escape scandals, the Swedes still managed to maintain a broadly humane approach to sentencing, even of the most serious offenders: jail terms rarely exceed ten years; those who receive life imprisonment can still apply to the courts after a decade to have the sentence commuted to a fixed term, usually in the region of 18 to 25 years. Sweden was the first country in Europe to introduce the electronic tagging of convicted criminals and continues to strive to minimize short-term prison sentences wherever possible by using community-based measures, which have been proven to be more effective at reducing reoffending.']]

In [9]:
def flatten(l):
    return [item for sublist in l for item in sublist]

In [10]:
adv_list = flatten(adv_list)

In [11]:
# initialize list of lists
data1 = adv_list
# Create the pandas DataFrame
adv_df = pd.DataFrame(data1, columns = ['Text'] )
# print dataframe.
adv_df['Level'] = 2
adv_df

                                                  Text  Level
0    ﻿It was not so much how hard people found the ...      2
1    So unbearable did some find it that they took ...      2
2    Two-thirds of men pressed a button to deliver ...      2
3    Under the same conditions, a quarter of women ...      2
4    The report from psychologists at Virginia and ...      2
..                                                 ...    ...
940  ﻿Tigers are more numerous in Nepal than at any...      2
941  The number of wild royal bengal tigers in Nepa...      2
942  The census is based on the examination of pict...      2
943  Dhakal said that a parallel survey was conduct...      2
944  Nepal has pledged to double the population of ...      2

[945 rows x 2 columns]

### Intermediate List

In [12]:
int_list = []
intermediate = '/Users/javm/Desktop/Flatiron4/Reading-Level-Classifier/Texts-SeparatedByReadingLevel/Int-Txt'
for i in (os.listdir(intermediate)):
    with open(intermediate+'/'+i) as f:
        lines = f.readlines()
        int_list.append(lines)
        
#print(int_list)

In [13]:
int_list = flatten(int_list)

In [14]:
# initialize list of lists
data3 = int_list
# Create the pandas DataFrame
int_df = pd.DataFrame(data3, columns = ['Text'] )
# print dataframe.
int_df['Level'] = 1
int_df

                                                  Text  Level
0                                      Intermediate \n      1
1    Valdevaqueros is one of the last unspoilt beac...      1
2    For years it has been very different from the ...      1
3    Traditional jobs such as fishing are dying out...      1
4    Opponents of the complex say more housing is n...      1
..                                                 ...    ...
940                                    Intermediate \n      1
941  When Larry Pizzi first heard about electric bi...      1
942  Its a question that still puzzles some people....      1
943  Pizzi, who is now CEO of Currie Technologies, ...      1
944  The US is different from other countries when ...      1

[945 rows x 2 columns]

### Elementary List

In [15]:
ele_list = []
ele = '/Users/javm/Desktop/Flatiron4/Reading-Level-Classifier/Texts-SeparatedByReadingLevel/Ele-Txt'
for i in (os.listdir(ele)):
    with open(ele+'/'+i) as f:
        lines = f.readlines()
        ele_list.append(lines)
        
#print(ele_list)

In [16]:
ele_list = flatten(ele_list)

In [17]:
# initialize list of lists
data2 = ele_list
# Create the pandas DataFrame
ele_df = pd.DataFrame(data2, columns = ['Text'] )
# print dataframe.
ele_df['Level'] = 0
ele_df

                                                  Text  Level
0    ﻿SeaWorld’s profits fell by 84% and customers ...      0
1    The company teaches dolphins and killer whales...      0
2    It says fewer people are going to its parks an...      0
3    SeaWorld has been in the news since the 2013 d...      0
4    Animal rights organizations say that orcas kep...      0
..                                                 ...    ...
940  ﻿Our new international survey, including 33 co...      0
941  British people think the richest 1% own 59% of...      0
942  Brazilians think the average age in their coun...      0
943  In Britain, people think that 43% of young adu...      0
944  So, why do people across the world know so lit...      0

[945 rows x 2 columns]

### Combining Data Frames

In [18]:
df1 = adv_df.merge(int_df, how = 'outer')
df1

                                                   Text  Level
0     ﻿It was not so much how hard people found the ...      2
1     So unbearable did some find it that they took ...      2
2     Two-thirds of men pressed a button to deliver ...      2
3     Under the same conditions, a quarter of women ...      2
4     The report from psychologists at Virginia and ...      2
...                                                 ...    ...
1885  A booming luxury market is serving the new ric...      1
1886  When Larry Pizzi first heard about electric bi...      1
1887  Its a question that still puzzles some people....      1
1888  Pizzi, who is now CEO of Currie Technologies, ...      1
1889  The US is different from other countries when ...      1

[1890 rows x 2 columns]

In [19]:
df = df1.merge(ele_df, how = 'outer')
df

                                                   Text  Level
0     ﻿It was not so much how hard people found the ...      2
1     So unbearable did some find it that they took ...      2
2     Two-thirds of men pressed a button to deliver ...      2
3     Under the same conditions, a quarter of women ...      2
4     The report from psychologists at Virginia and ...      2
...                                                 ...    ...
2830  ﻿Our new international survey, including 33 co...      0
2831  British people think the richest 1% own 59% of...      0
2832  Brazilians think the average age in their coun...      0
2833  In Britain, people think that 43% of young adu...      0
2834  So, why do people across the world know so lit...      0

[2835 rows x 2 columns]

## Preprocessing

In [20]:
# need to downlod punkt to access better tokenization rules
# word_tokenize won't work without it
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/javm/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [21]:
corpus = [word_tokenize(doc) for doc in df['Text']]
print(corpus[0:4])

[['\ufeffIt', 'was', 'not', 'so', 'much', 'how', 'hard', 'people', 'found', 'the', 'challenge', 'but', 'how', 'far', 'they', 'would', 'go', 'to', 'avoid', 'it', 'that', 'left', 'researchers', 'gobsmacked', '.', 'The', 'task', '?', 'To', 'sit', 'in', 'a', 'chair', 'and', 'do', 'nothing', 'but', 'think', '.'], ['So', 'unbearable', 'did', 'some', 'find', 'it', 'that', 'they', 'took', 'up', 'the', 'safe', 'but', 'alarming', 'opportunity', 'to', 'give', 'themselves', 'mild', 'electric', 'shocks', 'in', 'an', 'attempt', 'to', 'break', 'the', 'tedium', '.'], ['Two-thirds', 'of', 'men', 'pressed', 'a', 'button', 'to', 'deliver', 'a', 'painful', 'jolt', 'during', 'a', '15-minute', 'spell', 'of', 'solitude', '.'], ['Under', 'the', 'same', 'conditions', ',', 'a', 'quarter', 'of', 'women', 'pressed', 'the', 'shock', 'button', '.', 'The', 'difference', ',', 'scientists', 'suspect', ',', 'is', 'that', 'men', 'tend', 'to', 'be', 'more', 'sensation-seeking', 'than', 'women', '.']]

In [22]:
import itertools
flattenedcorpus_tokens = pd.Series(list(itertools.chain(*corpus)))
print(flattenedcorpus_tokens.shape)

(170594,)

In [23]:
dictionary = pd.Series(flattenedcorpus_tokens.unique())
print(len(dictionary))

12108

In [24]:
flattenedcorpus_tokens.value_counts()

,               8422
the             8003
.               7171
of              4310
to              3880
                ...
90-day             1
odd                1
forgetting         1
snapped            1
observations       1
Length: 12108, dtype: int64

In [25]:
num_one_occurence = (flattenedcorpus_tokens.
                     value_counts() < 2).sum()
num_one_occurence

3330

In [26]:
dictionary[dictionary.str.isnumeric()]

125      2013
146      2011
147      2012
148         6
160      2014
         ...
11959    1989
11966    1972
12067      41
12078      73
12090    1623
Length: 200, dtype: object

### Removing Stop Words

In [27]:
# imports package with many stopword lists
from nltk.corpus import stopwords

# get common stop words in english that we'll remove during tokenization/text normalization
stop_words = stopwords.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [28]:
def first_step_normalizer(doc):
    # filters for alphabetic (no punctuation or numbers) and filters out stop words. 
    # lower cases all tokens
    norm_text = [x.lower() for x in word_tokenize(doc) if ((x.isalpha()) & (x.lower() not in stop_words)) ]
    return norm_text

In [29]:
df['tok_norm'] = df['Text'].apply(first_step_normalizer)
df.head(10)

,Text,Level,tok_norm
0,﻿It was not so much how hard people found the ...,2,"[much, hard, people, found, challenge, far, wo..."
1,So unbearable did some find it that they took ...,2,"[unbearable, find, took, safe, alarming, oppor..."
2,Two-thirds of men pressed a button to deliver ...,2,"[men, pressed, button, deliver, painful, jolt,..."
3,"Under the same conditions, a quarter of women ...",2,"[conditions, quarter, women, pressed, shock, b..."
4,The report from psychologists at Virginia and ...,2,"[report, psychologists, virginia, harvard, uni..."
5,﻿Swedish prisons have long had a reputation ar...,2,"[prisons, long, reputation, around, world, pro..."
6,The head of Sweden’s prison and probation serv...,2,"[head, sweden, prison, probation, service, nil..."
7,Although there has been no fall in crime rates...,2,"[although, fall, crime, rates, drop, sweden, p..."
8,“The modern prison service in Sweden is very d...,2,"[modern, prison, service, sweden, different, j..."
9,Despite the hardening of attitudes toward pris...,2,"[despite, hardening, attitudes, toward, prison..."

In [30]:
norm_toks_flattened = pd.Series(list(
    itertools.chain(*df['tok_norm'])))
new_dictionary = norm_toks_flattened.unique()
print(len(new_dictionary))

9613

In [31]:
print(len(dictionary))

12108

In [32]:
## Removed 5k features

In [33]:
norm_toks_flattened.value_counts()

said              781
people            752
one               452
world             339
says              322
                 ...
municipalities      1
easierfor           1
kickbacks           1
legislation         1
noting              1
Length: 9613, dtype: int64

## Lemmatizing

In [34]:
from nltk import WordNetLemmatizer # lemmatizer using WordNet
from nltk.corpus import wordnet # imports WordNet
from nltk import pos_tag # nltk's native part of speech tagging

nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/javm/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /Users/javm/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [35]:
# takes in untokenized document and returns fully normalized token list
def process_doc(doc):

    #initialize lemmatizer
    wnl = WordNetLemmatizer()

    # helper function to change nltk's part of speech tagging to a wordnet format.
    def pos_tagger(nltk_tag):
        if nltk_tag.startswith('J'):
            return wordnet.ADJ
        elif nltk_tag.startswith('V'):
            return wordnet.VERB
        elif nltk_tag.startswith('N'):
            return wordnet.NOUN
        elif nltk_tag.startswith('R'):
            return wordnet.ADV
        else:         
            return None
        
    # remove stop words and punctuations, then lower case
    doc_norm = [tok.lower() for tok in word_tokenize(doc) if (tok.isalpha())]
    
    #  POS detection on the result will be important in telling Wordnet's lemmatizer how to lemmatize
    
    # creates list of tuples with tokens and POS tags in wordnet format
    wordnet_tagged = list(map(lambda x: (x[0], pos_tagger(x[1])), pos_tag(doc_norm))) 
    doc_norm = [wnl.lemmatize(token, pos) for token, pos in wordnet_tagged if pos is not None]
    
    return doc_norm

In [36]:
fully_normalized_corpus = df['Text'].apply(process_doc)

In [37]:
fully_normalized_corpus.head()

0    [be, not, so, much, hard, people, find, challe...
1    [so, unbearable, do, find, take, up, safe, ala...
2    [men, press, button, deliver, painful, jolt, s...
3    [same, condition, quarter, woman, press, shock...
4    [report, psychologist, virginia, harvard, univ...
Name: Text, dtype: object

In [38]:
flattened_fully_norm = pd.Series(list(itertools.chain(*fully_normalized_corpus)))
len(flattened_fully_norm.unique())

7599

In [39]:
## Original dictionary length
print(len(dictionary))

12108

In [40]:
flattened_fully_norm.value_counts()

be             5304
have           2035
say            1224
s               930
people          763
               ...
rede              1
metabolic         1
luminescent       1
teem              1
exert             1
Length: 7599, dtype: int64

## Modeling

In [41]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

In [68]:
class TextPreprocessor(BaseEstimator, TransformerMixin):
    
    def __init__(self):
        
        #define attributes to store if text preprocessing requires fitting from data
        pass
    
    def fit(self, data, y = 0):
        # this is where you would fit things like corpus specific stopwords
        # fit probable bigrams with bigram model in here
        
        # save as parameters of Text preprocessor
        
        return self
    
    def transform(self, data, y = 0):
        fully_normalized_corpus = data.apply(self.process_doc)
        
        return fully_normalized_corpus
        
    
    def process_doc(self, doc):

        #initialize lemmatizer
        wnl = WordNetLemmatizer()
        stop_words = stopwords.words('english')
        
        # helper function to change nltk's part of speech tagging to a wordnet format.
        def pos_tagger(nltk_tag):
            if nltk_tag.startswith('J'):
                return wordnet.ADJ
            elif nltk_tag.startswith('V'):
                return wordnet.VERB
            elif nltk_tag.startswith('N'):
                return wordnet.NOUN
            elif nltk_tag.startswith('R'):
                return wordnet.ADV
            else:         
                return None


        # remove stop words and punctuations, then lower case
        doc_norm = [tok.lower() for tok in word_tokenize(doc) if (tok.isalpha())]

        #  POS detection on the result will be important in telling Wordnet's lemmatizer how to lemmatize

        # creates list of tuples with tokens and POS tags in wordnet format
        wordnet_tagged = list(map(lambda x: (x[0], pos_tagger(x[1])), pos_tag(doc_norm))) 
        doc_norm = [wnl.lemmatize(token, pos) for token, pos in wordnet_tagged if pos is not None]

        return " ".join(doc_norm)

In [69]:
X = df['Text']
y = df['Level']

In [70]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

proc = TextPreprocessor()

# again this kind of splitting only becomes important if fitting of text transformers fits to statistics of the text corpus
transformed_train = proc.fit_transform(X_train)
transformed_test = proc.transform(X_test)

In [71]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [72]:
prc_steps = [('countvec', CountVectorizer(min_df =.03, max_df = .5))]
preprocess_pipeline = Pipeline(prc_steps)

In [73]:
X_tr_proc = preprocess_pipeline.fit_transform(transformed_train)

In [74]:
X_tr_proc.shape

(1984, 103)

In [75]:
X_test_proc = preprocess_pipeline.transform(transformed_test)

In [76]:
feat_names = preprocess_pipeline[
    'countvec'].get_feature_names()

pd.DataFrame(X_tr_proc.toarray(), columns = feat_names)

,accord,also,back,become,big,british,call,change,child,city,...,use,very,want,water,way,well,woman,work,world,year
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,1,...,1,0,1,0,0,0,0,0,0,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1979,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1980,0,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1981,0,0,0,0,0,0,0,1,1,0,...,0,1,0,0,0,0,1,0,0,2
1982,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1983,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
bow_mat = pd.DataFrame(X_tr_proc.toarray(), columns = feat_names)
bow_mat['Level'] = y_train
bow_mat

,accord,also,back,become,big,british,call,change,child,city,...,very,want,water,way,well,woman,work,world,year,Level
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2.0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,NaN
2,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,2,2.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,NaN
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1979,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1980,0,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1981,0,0,0,0,0,0,0,1,1,0,...,1,0,0,0,0,1,0,0,2,0.0
1982,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1983,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [78]:
class2_bow_mat = bow_mat[bow_mat['Level'] == 2].drop(columns = ['Level'])

# class 1 token probabilities:
N_tok_2 = class2_bow_mat.sum(axis = 0) 
N_2 =  class2_bow_mat.values.sum()

# get probabilities for each token: class 1
proba_c2 = N_tok_2/N_2

proba_c2.sort_values(ascending = False)[0:10]

have      0.085383
say       0.063834
people    0.035576
not       0.026835
more      0.023989
do        0.021143
world     0.019719
make      0.019313
year      0.016670
want      0.015857
dtype: float64

In [79]:
class1_bow_mat = bow_mat[bow_mat['Level'] == 1].drop(columns = ['Level'])

# class 1 token probabilities:
N_tok_1 = class1_bow_mat.sum(axis = 0) 
N_1 =  class1_bow_mat.values.sum()

# get probabilities for each token: class 1
proba_c1 = N_tok_1/N_1

proba_c1.sort_values(ascending = False)[0:10]

have      0.090177
say       0.054490
people    0.037222
not       0.026669
more      0.025902
do        0.019186
year      0.019186
make      0.018227
use       0.018035
world     0.014582
dtype: float64

In [80]:
class0_bow_mat = bow_mat[bow_mat['Level'] == 0].drop(columns = ['Level'])

# class 1 token probabilities:
N_tok_0 = class0_bow_mat.sum(axis = 0)
N_0 =  class0_bow_mat.values.sum() 

# get probabilities for each token: class 0
proba_c0 = N_tok_0/N_0

proba_c0.sort_values(ascending = False)[0:10]

have      0.120313
say       0.070312
people    0.031250
not       0.029687
do        0.021875
new       0.020313
year      0.020313
go        0.018750
more      0.018750
time      0.017188
dtype: float64

### Append Multinomial Naive Bayes Classifier to pipeline.

In [81]:
from sklearn.naive_bayes import MultinomialNB

In [82]:
from copy import deepcopy
mod_pipe = deepcopy(preprocess_pipeline)
mod_pipe.steps.append(('multinb', MultinomialNB()))
mod_pipe.steps

[('countvec', CountVectorizer(max_df=0.5, min_df=0.03)),
 ('multinb', MultinomialNB())]

In [83]:
mod_pipe.fit(transformed_train, y_train)

Pipeline(steps=[('countvec', CountVectorizer(max_df=0.5, min_df=0.03)),
                ('multinb', MultinomialNB())])

In [84]:
transformed_test = proc.transform(X_test)

y_pred = mod_pipe.predict(transformed_test)

In [85]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.43      0.49      0.46       272
           1       0.41      0.30      0.35       282
           2       0.43      0.49      0.46       297

    accuracy                           0.43       851
   macro avg       0.43      0.43      0.42       851
weighted avg       0.43      0.43      0.42       851

In [86]:
from sklearn.linear_model import LogisticRegressionCV

In [87]:
LogisticRegressionCV(fit_intercept=True, cv= 5, 
                     dual=False, penalty='l2', scoring=None, 
                     solver='lbfgs', tol=0.0001, max_iter=100)

LogisticRegressionCV(cv=5)

In [88]:
import sklearn
from sklearn.datasets import load_breast_cancer
from sklearn.metrics import classification_report, confusion_matrix 
from sklearn.datasets import load_breast_cancer 
from sklearn.svm import SVC 
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

In [89]:
# defining parameter range 
param_grid = {'C': [0.1, 1, 10, 100],  
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001], 
              #'gamma':['scale', 'auto'],
              'kernel': ['linear']}  
   
grid = GridSearchCV(SVC(random_state = 42), param_grid, refit = True, verbose = 3,n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(X_tr_proc, y_train) 
 
# print best parameter after tuning 
print(grid.best_params_) 
grid_predictions = grid.predict(X_test_proc) 
   
# print classification report 
print(classification_report(y_test, grid_predictions))

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.6s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:  1.6min finished

{'C': 0.1, 'gamma': 1, 'kernel': 'linear'}
              precision    recall  f1-score   support

           0       0.44      0.46      0.45       272
           1       0.53      0.23      0.32       282
           2       0.42      0.62      0.50       297

    accuracy                           0.44       851
   macro avg       0.46      0.44      0.42       851
weighted avg       0.46      0.44      0.42       851

### TFID Vectorizer

In [64]:
prc_steps2 = [('tfid', TfidfVectorizer(min_df = 0.05, max_df = 0.95))]
preprocess_pipeline2 = Pipeline(prc_steps2)

In [65]:
X_tr_proc2 = preprocess_pipeline2.fit_transform(transformed_train)

In [66]:
X_test_proc2 = preprocess_pipeline2.transform(transformed_test)

In [67]:
# defining parameter range 
param_grid = {'C': [0.1, 1, 10, 100],  
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001], 
              #'gamma':['scale', 'auto'],
              'kernel': ['l']}  
   
grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3,n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(X_tr_proc2, y_train) 
 
# print best parameter after tuning 
print(grid.best_params_) 
grid_predictions2 = grid.predict(X_test_proc2) 
   
# print classification report 
print(classification_report(y_test, grid_predictions2))

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.1s finished

ValueError: 'l' is not in list

### NB

In [172]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB
 
# GaussianNB is used in Binomial Classification
# MultinomialNB is used in multi-class classification
#clf = GaussianNB()
clf = MultinomialNB()
 
# Printing all the parameters of Naive Bayes
print(clf)
 
NB=clf.fit(X_tr_proc,y_train)
prediction=NB.predict(X_test_proc)
 
# Measuring accuracy on Testing Data
from sklearn import metrics
print(metrics.classification_report(y_test, prediction))
print(metrics.confusion_matrix(y_test, prediction))
 
# Printing the Overall Accuracy of the model
F1_Score=metrics.f1_score(y_test, prediction, average='weighted')
print('Accuracy of the model on Testing Sample Data:', round(F1_Score,2))
 
# Importing cross validation function from sklearn
from sklearn.model_selection import cross_val_score
 
# Running 10-Fold Cross validation on a given algorithm
# Passing full data X and y because the K-fold will split the data and automatically choose train/test
Accuracy_Values=cross_val_score(NB, X , y, cv=5, scoring='f1_weighted')
print('\nAccuracy values for 5-fold Cross Validation:\n',Accuracy_Values)
print('\nFinal Average Accuracy of the model:', round(Accuracy_Values.mean(),2))

MultinomialNB()
              precision    recall  f1-score   support

           0       0.44      0.43      0.43       301
           1       0.69      0.20      0.31       279
           2       0.36      0.64      0.46       271

    accuracy                           0.42       851
   macro avg       0.50      0.42      0.40       851
weighted avg       0.50      0.42      0.40       851

[[129  12 160]
 [ 79  55 145]
 [ 85  13 173]]
Accuracy of the model on Testing Sample Data: 0.4

Accuracy values for 5-fold Cross Validation:
 [nan nan nan nan nan]

Final Average Accuracy of the model: nan

/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 615, in fit
    X, y = self._check_X_y(X, y)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 480, in _check_X_y
    return self._validate_data(X, y, accept_sparse='csr')
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/base.py", line 432, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 795, in check_X_y
    X = check_array(X, accept_sparse=accept_sparse,
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 598, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py", line 797, in __array__
    return np.asarray(self.array, dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/arrays/numpy_.py", line 211, in __array__
    return np.asarray(self._ndarray, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'In a concerted campaign – led, the panel found, by the Chief Constable, Peter Wright – the South Yorkshire Police put out their story that drunken supporters or those without tickets had caused the disaster. The victims had their blood tested for alcohol levels. This was “an exceptional decision ”, the panel said, for which it found “no rationale ”. When victims had alcohol in their blood, the police then checked to find if they had criminal records.'

  warnings.warn("Estimator fit failed. The score on this train-test"
/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 615, in fit
    X, y = self._check_X_y(X, y)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 480, in _check_X_y
    return self._validate_data(X, y, accept_sparse='csr')
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/base.py", line 432, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 795, in check_X_y
    X = check_array(X, accept_sparse=accept_sparse,
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 598, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py", line 797, in __array__
    return np.asarray(self.array, dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/arrays/numpy_.py", line 211, in __array__
    return np.asarray(self._ndarray, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: '\ufeffIt was not so much how hard people found the challenge but how far they would go to avoid it that left researchers gobsmacked. The task? To sit in a chair and do nothing but think. \n'

  warnings.warn("Estimator fit failed. The score on this train-test"
/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 615, in fit
    X, y = self._check_X_y(X, y)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 480, in _check_X_y
    return self._validate_data(X, y, accept_sparse='csr')
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/base.py", line 432, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 795, in check_X_y
    X = check_array(X, accept_sparse=accept_sparse,
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 598, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py", line 797, in __array__
    return np.asarray(self.array, dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/arrays/numpy_.py", line 211, in __array__
    return np.asarray(self._ndarray, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: '\ufeffIt was not so much how hard people found the challenge but how far they would go to avoid it that left researchers gobsmacked. The task? To sit in a chair and do nothing but think. \n'

  warnings.warn("Estimator fit failed. The score on this train-test"
/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 615, in fit
    X, y = self._check_X_y(X, y)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 480, in _check_X_y
    return self._validate_data(X, y, accept_sparse='csr')
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/base.py", line 432, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 795, in check_X_y
    X = check_array(X, accept_sparse=accept_sparse,
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 598, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py", line 797, in __array__
    return np.asarray(self.array, dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/arrays/numpy_.py", line 211, in __array__
    return np.asarray(self._ndarray, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: '\ufeffIt was not so much how hard people found the challenge but how far they would go to avoid it that left researchers gobsmacked. The task? To sit in a chair and do nothing but think. \n'

  warnings.warn("Estimator fit failed. The score on this train-test"
/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 615, in fit
    X, y = self._check_X_y(X, y)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 480, in _check_X_y
    return self._validate_data(X, y, accept_sparse='csr')
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/base.py", line 432, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 795, in check_X_y
    X = check_array(X, accept_sparse=accept_sparse,
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 598, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py", line 797, in __array__
    return np.asarray(self.array, dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/arrays/numpy_.py", line 211, in __array__
    return np.asarray(self._ndarray, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: '\ufeffIt was not so much how hard people found the challenge but how far they would go to avoid it that left researchers gobsmacked. The task? To sit in a chair and do nothing but think. \n'

  warnings.warn("Estimator fit failed. The score on this train-test"

In [265]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, ComplementNB
 
# GaussianNB is used in Binomial Classification
# MultinomialNB is used in multi-class classification
#clf = GaussianNB()
clf = ComplementNB()
 
# Printing all the parameters of Naive Bayes
print(clf)
 
NB=clf.fit(X_tr_proc2,y_train)
prediction=NB.predict(X_test_proc2)
 
# Measuring accuracy on Testing Data
from sklearn import metrics
print(metrics.classification_report(y_test, prediction))
print(metrics.confusion_matrix(y_test, prediction))
 
# Printing the Overall Accuracy of the model
F1_Score=metrics.f1_score(y_test, prediction, average='weighted')
print('Accuracy of the model on Testing Sample Data:', round(F1_Score,2))
 
# Importing cross validation function from sklearn
from sklearn.model_selection import cross_val_score
 
# Running 10-Fold Cross validation on a given algorithm
# Passing full data X and y because the K-fold will split the data and automatically choose train/test
Accuracy_Values=cross_val_score(NB, X , y, cv=5, scoring='f1_weighted')
print('\nAccuracy values for 5-fold Cross Validation:\n',Accuracy_Values)
print('\nFinal Average Accuracy of the model:', round(Accuracy_Values.mean(),2))

ComplementNB()
              precision    recall  f1-score   support

           0       0.40      0.59      0.48       301
           1       1.00      0.16      0.28       279
           2       0.37      0.48      0.42       271

    accuracy                           0.42       851
   macro avg       0.59      0.41      0.39       851
weighted avg       0.59      0.42      0.39       851

[[178   0 123]
 [129  46 104]
 [140   0 131]]
Accuracy of the model on Testing Sample Data: 0.39

Accuracy values for 5-fold Cross Validation:
 [nan nan nan nan nan]

Final Average Accuracy of the model: nan

/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 615, in fit
    X, y = self._check_X_y(X, y)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 480, in _check_X_y
    return self._validate_data(X, y, accept_sparse='csr')
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/base.py", line 432, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 795, in check_X_y
    X = check_array(X, accept_sparse=accept_sparse,
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 598, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py", line 797, in __array__
    return np.asarray(self.array, dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/arrays/numpy_.py", line 211, in __array__
    return np.asarray(self._ndarray, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'In a concerted campaign – led, the panel found, by the Chief Constable, Peter Wright – the South Yorkshire Police put out their story that drunken supporters or those without tickets had caused the disaster. The victims had their blood tested for alcohol levels. This was “an exceptional decision ”, the panel said, for which it found “no rationale ”. When victims had alcohol in their blood, the police then checked to find if they had criminal records.'

  warnings.warn("Estimator fit failed. The score on this train-test"
/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 615, in fit
    X, y = self._check_X_y(X, y)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 480, in _check_X_y
    return self._validate_data(X, y, accept_sparse='csr')
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/base.py", line 432, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 795, in check_X_y
    X = check_array(X, accept_sparse=accept_sparse,
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 598, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py", line 797, in __array__
    return np.asarray(self.array, dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/arrays/numpy_.py", line 211, in __array__
    return np.asarray(self._ndarray, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: '\ufeffIt was not so much how hard people found the challenge but how far they would go to avoid it that left researchers gobsmacked. The task? To sit in a chair and do nothing but think. \n'

  warnings.warn("Estimator fit failed. The score on this train-test"
/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 615, in fit
    X, y = self._check_X_y(X, y)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 480, in _check_X_y
    return self._validate_data(X, y, accept_sparse='csr')
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/base.py", line 432, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 795, in check_X_y
    X = check_array(X, accept_sparse=accept_sparse,
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 598, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py", line 797, in __array__
    return np.asarray(self.array, dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/arrays/numpy_.py", line 211, in __array__
    return np.asarray(self._ndarray, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: '\ufeffIt was not so much how hard people found the challenge but how far they would go to avoid it that left researchers gobsmacked. The task? To sit in a chair and do nothing but think. \n'

  warnings.warn("Estimator fit failed. The score on this train-test"
/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 615, in fit
    X, y = self._check_X_y(X, y)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 480, in _check_X_y
    return self._validate_data(X, y, accept_sparse='csr')
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/base.py", line 432, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 795, in check_X_y
    X = check_array(X, accept_sparse=accept_sparse,
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 598, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py", line 797, in __array__
    return np.asarray(self.array, dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/arrays/numpy_.py", line 211, in __array__
    return np.asarray(self._ndarray, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: '\ufeffIt was not so much how hard people found the challenge but how far they would go to avoid it that left researchers gobsmacked. The task? To sit in a chair and do nothing but think. \n'

  warnings.warn("Estimator fit failed. The score on this train-test"
/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:548: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 531, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 615, in fit
    X, y = self._check_X_y(X, y)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/naive_bayes.py", line 480, in _check_X_y
    return self._validate_data(X, y, accept_sparse='csr')
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/base.py", line 432, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 795, in check_X_y
    X = check_array(X, accept_sparse=accept_sparse,
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 72, in inner_f
    return f(**kwargs)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/utils/validation.py", line 598, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/series.py", line 797, in __array__
    return np.asarray(self.array, dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/arrays/numpy_.py", line 211, in __array__
    return np.asarray(self._ndarray, dtype=dtype)
  File "/Users/javm/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/numpy/core/_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: '\ufeffIt was not so much how hard people found the challenge but how far they would go to avoid it that left researchers gobsmacked. The task? To sit in a chair and do nothing but think. \n'

  warnings.warn("Estimator fit failed. The score on this train-test"